<div id="admincontents_wrapper">
<h2>클립아트 상세페이지</h2>
<p2>자신이 직접 등록한 클립아트의 내용입니다. <br></p2>
<br>
</div>

<table class="clipart_table">
    <thead class="clipart_thead">
        <tr>
            <td class="clipart_thead" width="800px"><%=h @myimage.name %> <%= "(공개됨)" if @myimage.open_fl == true %></td>
        </tr>
    </thead>
</table>

<p>

  
</p>
<%
ext_name = File.extname(@myimage.image_filename)

  %>
<div style="text-align:center">
<a href="<%= @myimage.url %>" target="new">
	<%if @myimage.common == false %>
		<%= image_tag("#{@myimage.preview_url}", :width => '400') %>
	<%else%>
		<%= image_tag("#{@myimage.preview_admin_url}", :width => '400') %>
	<%end%>
	</a>
</div>

<% if @myimage.description != nil && @myimage.description.length > 1 %>
<p>
  <b>설명:</b><br>
  <%=h @myimage.description %>
</p>
<% end %>
<p></p>
<div>
<img src="/images/mytemplates/line.jpg">
</div>

<p style="text-align:right;padding-right:30px;">
<img src="/images/ourimage/download.jpg" style="cursor:pointer;" id="img_dn"> <%= link_to image_tag("/images/board/list.jpg", :border=>0), ourimages_path + "?folder="+params[:folder]+"&ext="+params[:ext]+"&page=" + params[:page] %>
</p>

<script language="Javascript">
$('#img_dn').live("click", function(){
	location.href = '/download_image?id=<%= @myimage.id %>';
	// $.ajax({
	// 	data:'id=<%= @myimage.id %>', 
	// 	dataType:'script', 
	// 	type:'post', 
	// 	url:'/ourimages/download_image',
	// 	success: function(request){
	// 		alert("다운로드가 시작되었습니다!");
	// 	}
	// });
})

</script>
